<% content_for :atom_url, "/user/#{@photos.last.user.id}.atom" %>
<%= render :partial => 'photos', :object => @photos %>
<% if @photos.length >= 20 %>
<p id="nav">
  <%= link_to "Next Photos",
              "/user/#{@photos.last.user.id}/max_id/#{@photos.last.id}",
              :rel => 'next' %>
</p>
<% end %>
